.benefits {
  padding-top: 17px;
}

.benefits__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: @font-headings;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
}

.benefits__list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.benefits__item {
  position: relative;
  margin-bottom: 26px;
  padding-left: 81px;
  font-family: @font-general;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  &:last-child {
    margin-bottom: 46px;
  }

  &::after {
    position: absolute;
    content: "";
    top: -2px;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-repeat: no-repeat;
    z-index: 1;
  }

  &:first-child::after {
    background-image: url("../img/advantage-leaf@1x.png");
    background-position: 5px 5px;
  }

  &:nth-child(2)::after {
    background-image: url("../img/advantage-powder@1x.png");
    background-position: 5px 4px;
  }

  &:nth-child(3)::after {
    background-image: url("../img/advantage-dining@1x.png");
    background-position: 4px 5px;
  }

  &:nth-child(4)::after {
    background-image: url("../img/advantage-clock@1x.png");
    background-position: 5px 5px;
  }
}

@media (min-width: @tablet-width) {
  .benefits {
    padding-top: 46px;
  }

  .benefits__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -60px;
    counter-reset: benefits__item;
  }

  .benefits__title {
    font-size: 60px;
    line-height: 60px;
  }

  .benefits__item {
    position: relative;
    width: 324px;
    margin-bottom: 90px;
    margin-left: 60px;
    padding-right: 65px;
    padding-left: 0;
    padding-top: 154px;
    font-size: 16px;
    line-height: 24px;
    z-index: 2;
    // outline: 2px solid saddlebrown;

    &:last-child {
      margin-bottom: 103px;
    }

    &::before {
      counter-increment: benefits__item;
      content: counter(benefits__item) "";
      position: absolute;
      top: 0;
      left: 0;
      font-family: @font-headings;
      font-weight: 400;
      font-size: 281px;
      line-height: 281px;
      color: #f2f2f2;
      z-index: 0;
    }
  }

  // А как здесь сделаны фоновые цифры? Я сначала думала, это картинки, а это не они
}

@media (min-width: @desktop-width) {
  .benefits {
    padding-top: 73px;
  }

  .benefits__list {
    margin-left: -80px;
  }

  .benefits__item {
    min-height: 290px;
    width: 245px;
    margin-left: 80px;
    margin-bottom: 0;
    padding-right: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
