.catalog {
  padding-top: 17px;
}

.catalog__title {
  margin-top: 0;
  margin-bottom: 27px;
  font-family: @font-headings;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 22px;
  }

  .catalog__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -60px;
  }

  .catalog__item {
    width: 324px;
    margin-left: 60px;
    // outline: 2px solid rebeccapurple;
  }
}

@media (min-width: @desktop-width) {
  .catalog__wrapper {
    margin-left: -80px;
  }

  .catalog__item {
    width: 245px;
    margin-left: 80px;
  }
}
