.contacts__wrapper {
  display: flex;
  justify-content: flex-start;
  padding-top: 30px;
  padding-bottom: 26px;
  background-color: #ffffff;
  // outline: 2px solid navy;
}

.contacts__text {
  width: 140px;
  font-family: @font-headings;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  width: 140px;
  font-family: @font-general;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: #444444;
}

.contacts__street {
  margin-top: 0;
  margin-bottom: 0;
}

.contacts__town {
  margin-top: 0;
  margin-bottom: 0;
}

.contacts__map {
  position: relative;
  display: block;
  width: 320px;
  height: 362px;
  margin: 0 auto;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 139px;
    left: 129px;
    width: 55px;
    height: 53px;
    background-image: url("../../img/map-pin.png");
    background-position: 0 0;
    background-size: 62px auto;
    background-repeat: no-repeat;
  }
}

.contacts__map-img {
  position: absolute;
  content: "";
  top: -38px;
  left: 0;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    justify-content: space-between;
    padding-bottom: 55px;
  }

  .contacts__text {
    display: flex;
    flex-direction: column;
    width: 245px;
    padding-top: 35px;
    padding-left: 41px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    width: 245px;
    padding-right: 42px;
    padding-top: 33px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .contacts__street {
    margin-left: auto;
    margin-bottom: 20px;
    width: 155px;
  }

  .contacts__map {
    width: 768px;
    height: 398px;

    &::after {
      content: "";
      position: absolute;
      top: 145px;
      left: 317px;
      width: 133px;
      height: 106px;
      background-image: url("../../img/map-pin.png");
      background-position: 0 0;
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }
  // Я как-то неправильно стилизовала карту, теперь она не меняется на десктопную и планшетнуюю версию. Хотя до того, как я изменила область карты, которая показывается, через абсолютное позиционирование, она менялась
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;
  }


  .contacts__wrapper {
    position: absolute;
    top: 92px;
    left: 344px;
    width: 570px;
  }

  .contacts__wrapper.container {
    padding-left: 0;
    padding-right: 0;
  }

  .contacts__text {
    margin-right: 80px;
    padding-left: 75px;
    padding-top: 38px;
  }

  .contacts__street {
    margin-right: 180px;
  }

  .contacts__address {
    text-align: left;
    padding-top: 36px;
  }

  .contacts__map {
    width: 1440px;
    height: 400px;
    // outline: 2px dotted red;
  }
}
