.contacts__wrapper {
  .mobile-container();
  display: flex;
  padding-bottom: 26px;
}

.contacts__text {
  width: 140px;
  font-family: 'Oswald', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  width: 140px;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: #444444;
}
