.filter__list {
  margin: 0;
  padding: 0;
  padding-top: 26px;
  list-style: none;
}

.filter__label--radio {
  position: relative;
  padding-left: 22px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: -3px;
    left: -24px;
    border: 1px solid #cfcfcf;
    background-color: #ffffff;
    border-radius: 50%;
  }
}

.filter__input--radio:checked + .filter__label--radio::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 6px;
  left: -15px;
  background-color: #68b738;
  border-radius: 50%;
}

.filter__option {
  margin-bottom: 26px;

  &:nth-child(2) {
    margin-bottom: 23px;
  }
}

.filter__option--extra {
  margin-bottom: 24px;
}

.filter__input {
  opacity: 0;
  cursor: pointer;
}

.filter__label--checkbox {
  position: relative;
  padding-left: 21px;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: -2px;
    left: -25px;
    border: 1px solid #cfcfcf;
    background-color: #ffffff;
  }
}

.filter__input--checkbox:checked + .filter__label--checkbox::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 12px;
  top: 4px;
  left: -20px;
  border-bottom: 3px solid#68b738;
  border-left: 3px solid#68b738;
  transform: rotate(-45deg);
}
