
.form__profile {
  margin: 0;
  padding-top: 4px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  border: none;
  border-bottom: 1px solid #ededed;
}

.form__profile-label,
.form__name,
.form__weight,
.form__age {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__name,
.form__weight,
.form__age {
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 15px;
  border: 1px solid #e6e6e6;

  &:hover {
    border: 1px solid #e6e6e6;
  }

  &:active {
    border-color: #444444;
  }

  &.error {
    border-color: #ff8282;
    // Эта проверка же с помощью js делается?
  }
}

.form__profile-label {
  margin-right: 14px;
  padding-top: 14px;

  &:last-of-type {
    margin-right: 12px;
  }
}

.form__profile-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__profile-option {
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin: 0;
  padding: 0;
  width: 100%;
}

.form__name {
  width: 229px;
  margin-bottom: 14px;
}

.form__weight {
  width: 203px;
  margin-bottom: 14px;
}

.form__age {
  width: 171px;
  margin-bottom: 23px;
}

.form__program {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  border-bottom: 1px solid #ededed;
}

.form__description {
  display: flex;
  padding-top: 29px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 34px;
  align-items: top;
  text-align: left;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
  min-width: 280px;
  // flex-wrap: nowrap;


  &::after {
    content: "";
    flex-grow: 1;
    flex-shrink: 0;
    display: block;
    margin-left: 22px;
    left: 100%;
    width: 1300px;
    height: 3px;
    margin-top: 14px;
    background-color: #68b738;
    text-align: right;
  }
  // Не получились зеленые полосы - как задать им width и чтобы длинная фраза "Контактные данные" правильно переносилась?
}

.form__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form__item {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.form__item-label {
  padding-top: 13px;
  padding-right: 11px;
}

.form__owner-contacts {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
}

.form__email,
.form__tel {
  padding-top: 12px;
  padding-left: 15px;
  padding-bottom: 13px;
  padding-right: 45px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #e6e6e6;
  color: rgba(68, 68, 68, 1);
  text-transform: uppercase;

  &:hover {
    border: 1px solid #e6e6e6;
  }

  &:active {
    border-color: #444444;
  }

  &.error {
    border-color: #ff8282;
    // Эта проверка же с помощью js делается?
  }
}

.form__email {
  width: 219px;
}

.form__tel {
  width: 204px;
  padding-left: 14px;
}

.form__item--email {
  padding-bottom: 14px;

  &::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 248px;
    width: 17px;
    height: 13px;
    background-image: url("../img/icon-mail.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
  }
}

.form__item--tel {
  &::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 248px;
    width: 20px;
    height: 20px;
    background-image: url("../../img/icon-phone.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
  }
}

.form__item-label--tel {
  padding-right: 7px;
}

.form__description--comment {
  width: 280px;
  padding-top: 28px;
  padding-bottom: 35px;
  margin-left: -2px;
}

.form__comment {
  padding: 0;
  border: none;
}

.form__comment-text {
  width: 280px;
  min-height: 150px;
  padding-top: 13px;
  padding-left: 13px;
  padding-right: 13px;
  // margin-bottom: 30px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e6e6e6;


  &:hover {
    border: 1px solid #e6e6e6;
  }

  &:active {
    border-color: #444444;
  }

  &.error {
    border-color: #ff8282;
    // Эта проверка же с помощью js делается?
  }
}

.form__extra {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 15px;
  font-family: @font-headings;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
}

.form__description--extra {
  padding-top: 25px;
  padding-bottom: 8px;
  margin-left: -2px;
}
