.instance {
  min-height: 704px;
  background-color: #f2f2f2;
  // outline: 2px solid magenta;
}

.instance__title {
  margin: 0;
  padding-top: 17px;
  padding-bottom: 10px;
  font-family: @font;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
}

.instance__text {
  padding-bottom: 10px;
  padding-right: 14px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.instance__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.instance__value {
  position: relative;
  display: inline-block;
  width: 124px;
  height: 56px;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 17px;
  font-family: @font;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: 1px solid #cfcfcf;
  border-radius: 1px;
}

.instance__data {
  position: absolute;
  bottom: -16px;
  left: 19px;
  display: inline-block;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  background-color: #f2f2f2;
  padding-left: 14px;
  padding-right: 14px;
  text-transform: none;
}

.instance__sum {
  /* width: 188px; */
  margin-left: 46px;
  margin-right: 40px;
  margin-bottom: 306px;
  margin-top: 35px;
  font-family: @font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.instance__range {
  padding-left: 42px;
}

@media (min-width: @tablet-width) {
  .instance {
    min-height: 1081px;
  }

  .instance__wrapper {
    justify-content: flex-start;
  }

  .instance__title {
    margin: 0;
    padding-top: 43px;
    padding-bottom: 48px;
    font-size: 60px;
    line-height: 60px;
  }

  .instance__text {
    padding-bottom: 37px;
    padding-right: 14px;
    font-size: 16px;
    line-height: 24px;
  }

  .instance__value {
    width: 162px;
    height: 72px;
    margin: 0;
    margin-right: 42px;
    padding-top: 15px;
    padding-bottom: 17px;
    font-size: 30px;
    line-height: 37px;

    &:nth-child(2) .instance__data {
      left: 8px;
    }
  }

  .instance__data {
    bottom: -7px;
    left: 25px;
    font-size: 14px;
    line-height: 14px;
    padding-left: 8px;
    padding-right: 8px;

    br {
      display: none;
    }
  }

  .instance__sum {
    width: 176px;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 633px;
    margin-top: 12px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    // Как здесь лучше увеличить расстояние между строками "Затраты на питание:" и 15 00 руб."?
  }

  .instance__range {
    padding-left: 69px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: @desktop-width) {
  .instance {
    min-height: 662px;
    display: flex;
  }

  .instance__column {
    width: 610px;
  }
  .instance__title {
    padding-top: 63px;
    padding-bottom: 129px;
  }

  .instance__text {
    padding-bottom: 52px;
    padding-right: 176px;
  }

  .instance__sum {
    width: 570px;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 61px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    // Как здесь лучше увеличить расстояние между строками "Затраты на питание:" и 15 00 руб."?
  }

  .instance__range {
    padding-left: 40px;
    padding-top: 564px;
    padding-bottom: 10px;
  }
}
