
.main-heading {
  // min-height: 476px;
  padding-top: 27px;
  color: #ffffff;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  text-align: center;
}

.main-heading__title {
  display: block;
  margin-top: 0;
  margin-bottom: 26px;
  font-family: @font-headings;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.main-heading__slogan {
  display: block;
  margin-bottom: 27px;
  font-family: @font-headings;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.main-heading__button {
  margin-bottom: 22px;
  padding-left: 73px;
  padding-right: 73px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #68b738;
}

@media (min-width: @tablet-width) {
  .main-heading {
    min-height: 832px;
    padding-top: 20px;
    color: #111111;
    text-align: left;
    background-image: none;
  }

  .main-heading__title {
    margin-left: 87px;
    margin-right: 200px;
    margin-bottom: 42px;
    font-size: 60px;
    line-height: 60px;
  }

  .main-heading__slogan {
    margin-bottom: 48px;
    margin-left: 89px;
    font-size: 20px;
    line-height: 20px;
  }

  .main-heading__button {
    margin-left: 89px;
    padding-top: 15px;
    padding-bottom: 16px;
    padding-left: 26px;
    padding-right: 28px;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
    background-color: #68b738;
  }
}

@media (min-width: @desktop-width) {
  .main-heading {
    min-height: 566px;
    padding-top: 87px;
  }

  .main-heading__title {
    margin-left: 82px;
    margin-right: 600px;
    margin-bottom: 40px;
  }

  .main-heading__slogan {
    margin-bottom: 53px;
  }

  .main-heading__button {
    margin-left: 82px;
  }
}
