.main-nav {
  position: relative;
}

.main-nav__toggle {
  display: none;
  position: absolute;
  top: -43px;
  right: 0;
  width: 24px;
  height: 18px;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #ffffff;
  border: none;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: 516px;
    margin-right: 15px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 570px;
    // outline: 2px solid brown;
  }
}
