
.main-heading {
  // min-height: 476px;
  padding-top: 27px;
  color: #ffffff;
  background-image: url("../img/index-background-mobile@1x.jpg"),
    linear-gradient(to bottom, #63a73a 305px, #ffffff 305px);
  background-repeat: no-repeat;
  background-position: 0 0;
  text-align: center;
}

.main-heading__title {
  display: block;
  margin-top: 0;
  margin-bottom: 26px;
  font-family: @font-headings;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.main-heading__slogan {
  display: block;
  margin-bottom: 27px;
  font-family: @font-headings;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.main-heading__button {
  margin-bottom: 22px;
  padding-left: 73px;
  padding-right: 73px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: @green;
}

@media (min-width: @tablet-width) {
  .main-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0;
    color: #111111;
    text-align: left;
    background: none;
  }

  .main-heading__title {
    margin-left: 87px;
    margin-right: 200px;
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
  }

  .main-heading__slogan {
    margin-left: 88px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
  }

  .main-heading__button {
    position: absolute;
    left: 29px;
    top: 369px;
    margin-left: 89px;
    padding-top: 15px;
    padding-bottom: 16px;
    padding-left: 26px;
    padding-right: 28px;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
    background-color: @green;

    &:hover {
      background-color: #5eaa2f;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: #5eaa2f;
    }
  }

  .main-heading__wrap-img {
    margin: auto;
  }

  .main-heading__img {
    width: 709px;
    height: 609px;
  }
}

@media (min-width: @desktop-width) {
  .main-heading {
    position: relative;
    min-height: 566px;
    padding-top: 105px;
    padding-left: 108px;
    margin-bottom: 17px;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: -117px;
      right: 2px;
      width: 718px;
      height: 696px;
      background-image: url("../img/index-background-desktop@1x.jpg"),
        linear-gradient(to bottom, #64a93c 696px, #ffffff 696px);
      background-repeat: no-repeat;
      background-position: top right;
    }
  }

  .main-heading__title {
    margin-left: 84px;
    margin-right: 720px;
    margin-bottom: 42px;
  }

  .main-heading__slogan {
    margin-left: 84px;
    margin-bottom: 50px;
  }

  .main-heading__img {
    position: absolute;
    top: 25px;
    left: calc(50% - 159px);
    width: 552px;
    height: 499px;
  }

  .main-heading__button {
    left: 102px;
    top: 339px;
    padding-bottom: 17px;
  }
}
