
.page-header {
  display: flex;
  flex-direction: column;
  position: relative;
  // min-height: 264px;
  font-family: @font-headings;
  padding-left: 0;
  padding-right: 0;
}

.page-header__logo {
  border-bottom: 1px solid #e6e6e6;
}

.page-header__logo-image {
  margin-top: 6px;
  margin-bottom: 10px;
  margin-left: 22px;
  width: 191px;
  height: 38px;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .page-header {
    // min-height: 100px;
    // flex-direction: row;
  }

  .page-header__wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 52px;
  }

  .page-header__logo {
    border: none;
  }

  .page-header__logo-image {
    width: 173px;
    height: 58px;
    margin-top: 24px;
    margin-bottom: 0;
    margin-left: 30px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    min-height: 128px;
  }

  .page-header__wrapper {
    margin-bottom: 0;
  }

  .page-header__logo {
    width: 570px;
  }

  .page-header__logo-image {
    width: 202px;
    height: 59px;
    margin-top: 53px;
    margin-bottom: 0;
    margin-left: 115px;
  }
}
