.page-footer {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.page-footer__logo {
  .mobile-container();
  display: flex;
  width: 280px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.page-footer__logo-image {
  display: block;
  margin: auto;
}

.page-footer_social {
  .mobile-container();
  min-height: 62px;
}

.page-footer__copyright {
  .mobile-container();
  min-height: 78px;
}
