
.page-header {
  display: flex;
  justify-content: flex-start;
  min-height: 54px;
  padding-top: 11px;
  font-family: "Oswald", "Arial", sans-serif;
  background-color: #ffffff;
  .mobile-container();
}
