.product {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 20px;
  border-bottom: 1px solid #ededed;
}

.product__description {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 280px;
  // height: 144px;
}

.product__image-wrap {
  display: flex;
  // width: 140px;
  // height: 144px;
  // У тега picture высота оказывается больше картинки внутри тега img, из-за этого кнопка заказа оказывается ниже, чем нужно.
}

.product__title {
  width: 140px;
  margin-top: 22px;
  margin-bottom: 12px;
  padding-right: 68px;
  color: #111111;
  font-family: @font-headings;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.product__options {
  width: 140px;
  font-family: @font-general;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.product__order {
  width: 280px;
  margin-bottom: 24px;
  padding-top: 10px;
  padding-right: 108px;
  padding-bottom: 10px;
  padding-left: 110px;
  background-color: @green;
  color: #ffffff;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .product {
    margin-bottom: 23px;
    padding-left: 0;
    border-bottom: none;
    background-image: linear-gradient(to bottom, #ffffff 114px, #f2f2f2 114px);
  }

  .product__description {
    flex-direction: column;
    width: 324px;
  }

  .product__image {
    width: 324px;
    height: auto;
    margin: 0;
    margin-bottom: 33px;
  }

  .product__image--big-can {
    margin-bottom: 37px;
    padding-top: 32px;
  }

  .product__image--small-can {
    margin-bottom: 37px;
    padding-top: 68px;
  }

  .product__wrapper {
    padding-right: 39px;
    padding-left: 38px;
  }

  .product__title {
    display: inline-block;
    width: 130px;
    margin-top: 0;
    margin-right: 60px;
    margin-bottom: 18px;
    margin-left: 59px;
    padding-right: 0;
    font-size: 20px;
    line-height: 20px;
    text-align: center;

    &:last-of-type br {
      display: none;
    }
  }

  .product__order {
    width: 249px;
    margin-right: 37px;
    margin-bottom: 40px;
    margin-left: 37px;
    padding-right: 93px;
    padding-left: 95px;
  }

  .product__options {
    width: 250px;
    font-family: @font-general;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: @desktop-width) {
  .product {
    margin-bottom: 20px;
    // outline: 2px solid lawngreen;
    background-image: linear-gradient(to bottom, #ffffff 120px, #f2f2f2 120px);
  }

  .product__image {
    width: 245px;
    height: auto;
    margin: 0;
    margin-bottom: 37px;
  }

  .product__image--big-can {
    padding-top: 39px;
  }

  .product__image--small-can {
    padding-top: 75px;
  }

  .product__title {
    margin-top: 0;
    margin-right: 22px;
    margin-bottom: 14px;
    margin-left: 21px;
  }

  .product__order {
    width: 169px;
    margin-bottom: 40px;
    padding-right: 52px;
    padding-left: 52px;
  }

  .product__options {
    // min-height: 133px;
    width: 169px;
  }
}
