.range-slider {
  display: flex;
  flex-direction: row;
}

.range-slider__scale {
  align-self: center;
  width: 84px;
  height: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  margin-left: 19px;
  margin-right: 19px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 7px;
}

.range-slider__fill {
  width: 35px;
  height: 6px;

  border-radius: 3px;
  background-color: #68b738;
}

.range-slider__start,
.range-slider__finish {
  font-family: @font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
