.range-slider {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
}

.range-slider__scale {
  position: relative;
  flex-shrink: 0;
  align-self: center;
  width: 82px;
  height: 14px;
  margin-right: 19px;
  margin-left: 19px;
  border: 1px solid #cdcdcd;
  border-radius: 7px;
  background-color: #ffffff;
  cursor: pointer;
  // outline: 2px solid lightcoral;
}

.range-slider__pin {
  position: absolute;
  top: 3px;
  left: 5px;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: @green;
}


.range-slider__pin--before {
  right: auto;
  left: 5px;
}

.range-slider__pin--after {
  right: 5px;
  left: auto;
}

.range-slider__start,
.range-slider__finish {
  padding: 0;
  border: none;
  background-color: transparent;
  color: #111111;
  font-family: @font-headings;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .range-slider {
    width: 708px;
    padding-right: 40px;
    padding-left: 99px;
    background-color: transparent;
  }

  .range-slider__scale {
    width: 428px;
    height: 6px;
    margin-right: 23px;
    margin-left: 23px;
    padding: 0;
    border: none;
    border-radius: 2px;
    background-color: #dcdcdc;
  }

  .range-slider__pin {
    top: -13px;
    left: 200px;
    width: 34px;
    height: 34px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    outline: none;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      left: 12px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: @green;
    }

    &:hover {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    }

    &:active {
      border-color: @green;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    }
  }

  .range-slider__start,
  .range-slider__finish {
    padding-bottom: 5px;
    border-bottom: 1px dotted #bebebe;
    font-size: 20px;
    line-height: 20px;

    &:hover {
      border-bottom: 1px solid #989898;
    }

    &:active {
      border-bottom: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .range-slider {
    width: 690px;
    padding-top: 0;
    padding-right: 45px;
    padding-left: 80px;
  }

  .range-slider__start,
  .range-slider__finish {
    margin-top: 2px;
  }
}
