.site-list {
  display: flex;
  flex-direction: column;
  min-height: 198px;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: 1px solid blue;
}

.site-list__link {
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;
  font-family: @font;
  font-size: 20px;
  line-height: 20px;
  color: #111111;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
