.site-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  // min-height: 198px;
  padding: 0;
  list-style: none;
}

.site-list__link {
  display: block;
  padding-top: 23px;
  padding-bottom: 22px;
  border-bottom: 1px solid #e6e6e6;
  background-color: #ffffff;
  color: #111111;
  font-family: @font-headings;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .site-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    // min-height: 100px;
  }

  .site-list__link {
    margin-left: 33px;
    padding-top: 42px;
    border: none;
    font-size: 18px;
    line-height: 25px;
    // в макете высота строки 24,86px
    // outline: 2px solid olive;

    &:hover {
      color: rgba(17, 17, 17, 0.6);
    }

    &:active {
      color: rgba(17, 17, 17, 0.3);
    }
  }

  .site-list__link--active {
    position: relative;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -9px;
      left: 0;
      height: 2px;
      background: @green;
    }

    &:hover {
      color: #111111;
    }

    &:active {
      color: #111111;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    justify-content: flex-start;
  }

  .site-list__item {
    display: flex;
  }

  .site-list__link {
    margin-right: 32px;
    margin-left: 0;
    padding-top: 73px;
    padding-bottom: 3px;
    border: none;
    background-color: transparent;
    // в макете высота строки 24,86px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;


    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .site-list__link--active {
    &::after {
      background: #ffffff;
    }
  }

  .site-list--inner-page {
    .site-list__link {
      color: #111111;

      &:hover {
        color: rgba(17, 17, 17, 0.6);
      }

      &:active {
        color: rgba(17, 17, 17, 0.3);
      }
    }

    .site-list__link--active {
      &::after {
        background: #68b738;
      }

      &:hover {
        color: #111111;
      }

      &:active {
        color: #111111;
      }
    }
  }
}
