.to-all {

}

.to-all__show {
  margin-top: 80px;
  margin-bottom: 0;
  margin-left: 40px;
  margin-bottom: 8px;
  font-family: 'Oswald', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  background-color: #ffffff;
  }

.to-all__text {
  margin-left: 29px;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.to-all__button {
  .mobile-button();
  margin-bottom: 24px;
  padding-left: 97px;
  padding-right: 94px;
  color: #444444;
  background-color: #f2f2f2;
  border: none;
}
