.to-all {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 27px;
    left: 145px;
    width: 30px;
    height: 30px;
    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.to-all__show {
  margin-top: 80px;
  margin-bottom: 8px;
  margin-left: 60px;
  background-color: #ffffff;
  color: #111111;
  font-family: @font-headings;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.to-all__text {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 49px;
  font-family: @font-general;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.to-all__button {
  margin-bottom: 24px;
  margin-left: 20px;
  padding-right: 95px;
  padding-bottom: 10px;
  padding-left: 96px;
  border: none;
  background-color: #f2f2f2;
  color: #444444;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .to-all {
    height: 433px;
    margin-top: 115px;
    border: 1px solid #e6e6e6;

    &::after {
      top: 55px;
      left: 133px;
      width: 60px;
      height: 60px;
      background-image: url("../img/icon-plus.svg");
    }
  }

  .to-all__show {
    margin-top: 164px;
    margin-right: 40px;
    margin-bottom: 25px;
    margin-left: 40px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .to-all__text {
    margin-right: 60px;
    margin-bottom: 85px;
    margin-left: 60px;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
  }

  .to-all__button {
    width: 249px;
    margin-right: 37px;
    margin-left: 37px;
    padding-right: 79px;
    padding-left: 79px;
  }
}

@media (min-width: @desktop-width) {
  .to-all {
    margin-top: 120px;

    &::after {
      left: 93px;
    }
  }

  .to-all__show {
    margin-top: 164px;
  }

  .to-all__text {
    margin-right: 36px;
    margin-left: 36px;
  }

  .to-all__button {
    width: 169px;
    margin-right: 37px;
    margin-left: 37px;
    padding-right: 39px;
    padding-left: 39px;
  }
}
