
.to-all__show {
  margin-top: 80px;
  margin-left: 40px;
  margin-bottom: 8px;
  font-family: @font-headings;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  background-color: #ffffff;
}

.to-all__text {
  margin-left: 29px;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: @font-general;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.to-all__button {
  margin-bottom: 24px;
  padding-left: 94px;
  padding-right: 94px;
  color: #444444;
  background-color: #f2f2f2;
  border: none;
}

@media (min-width: @tablet-width) {
  .to-all__show {
    margin-top: 300px;
    margin-bottom: 28px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
  }

  .to-all__text {
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 88px;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
  }

  .to-all__button {
    width: 249px;
    margin-left: 37px;
    margin-right: 37px;
    padding-left: 79px;
    padding-right: 79px;
  }
}

@media (min-width: @desktop-width) {
  .to-all__show {
    margin-top: 310px;
  }

  .to-all__text {
    margin-left: 31px;
    margin-right: 40px;
  }

  .to-all__button {
    width: 169px;
    margin-left: 37px;
    margin-right: 37px;
    padding-left: 35px;
    padding-right: 40px;
  }
}
