{
  "extends": [
    "stylelint-config-htmlacademy",
    "stylelint-config-property-sort-order-smacss"
  ],
  "rules": {
    "declaration-no-important": true,
    "indentation": [2, { "ignore": ["inside-parens"] }]
  },
  "ignoreFiles": [
    "build/**/*",
    "node_modules/**/*"
  ]
}
