.mobile-container() {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.mobile-button() {
  display: inline-block;
  vertical-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 73px;
  padding-right: 73px;
  font-family: 'Oswald', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}


