html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: #444444;
  font-style: normal;
  background-image:
    url("../img/index-can-mobile@1x.png"),
    url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 431px, 50% 264px;
}

.inner-page {
  background-image: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}

.container {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  vertical-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
  font-family: @font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .container {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    outline: 2px solid rebeccapurple;
  }

  body {
    background-image:
    url("../img/index-can-tablet@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 331px;
    }
}

@media (min-width: @desktop-width) {
  .container {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
    outline: 2px solid rgb(29, 175, 78);
  }
  body {
    background-image:
    url("../img/index-can-desktop@1x.png"),
    url("../img/index-background-desktop@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 794px 134px, 954px 0;
  }
}
